.node {
  display: inline-block;
  margin-bottom: -5px;
  margin-right: -1px;
  padding: 30px;
  border: 1px solid var(--adp-off-white);
}

.wall {
  background-color: var(--adp-magenta);
}

.visited {
  background-color: #00bedabf;
}

.path {
  background-color: #005180;
}

.start {
  background-color: green;
}

.end {
  background-color: yellow;
}
