:host {
  display: block;
}

pre {
  margin: 0;
}

.code-preview {
  border-radius: 10px;
}

.copy {
  font-family: monospace;
  position: absolute;
  right: 10px;
  top: 10px;

  .copy-text {
    opacity: 0;
    transition: opacity 450ms ease-in-out;

    &.copied {
      opacity: 1;
      transition-duration: 150ms;
    }
  }

  neo-icon {
    cursor: pointer;
    display: block;
    opacity: 0.5;
    transition: all 450ms ease-in-out;

    &:hover {
      color: var(--neo-magenta);
      opacity: 1;
      transition-duration: 150ms;
    }
  }
}
